

  .contain {
      padding: 2rem;
  }
  



  #section-about {
        display: flex;
            
  }

  /* Modal Styles */
.modaxl {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-contentx {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fefefe;
  }
  
  .closex {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 1200px) {
   
    /* -------------------- about section---------------------------*/
            #section-about {
                margin-left: 5rem;
                max-width: 100%;
                    
        }
        #section-about div  {
           
            max-width: 350px;
        }
        #section-about div img {
            max-width: 100%;
        }
        

}

  @media (max-width: 800px) {
     
      /* -------------------- about section---------------------------*/
              #section-about {
                  margin-left: 5rem;
                  max-width: 100%;
                      
          }
          #section-about div  {
             
              max-width: 350px;
          }
          #section-about div img {
              max-width: 100%;
          }
      
      
      


  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
     
/* -------------------- about section---------------------------*/
        #section-about {
            margin-left: 2rem;
            max-width: 100%;
                
    }
    #section-about div  {
       
        max-width: 350px;
    }
    #section-about div img {
        max-width: 100%;
    }
 

 


  }
  @media (max-width: 400px) {
    #section-about {
      margin-left: 1rem; /* Adjust the margin as needed */
      
    }
    section{
        justify-content: space-around;
    }
    #section-about div img {
        max-width: 99%;
    }
 
  }



  
#gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }  
  }
  #gallery img {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
 
  .modal-body{
    padding:0px;
  }
